@import '@festo-ui/web-essentials/scss/variables';

.cs-popup {
  .fwe-modal-body {
    margin-bottom: 0;
  }
}

@media (min-width: $grid-breakpoint-sm) {
  .cs-popup {
    .fr-modal {
      max-width: 696px;
    }
  }
}

@media (min-width: $grid-breakpoint-md) {
  .cs-popup {
    .fr-modal {
      max-width: 912px;
    }
  }
}

@media (min-width: $grid-breakpoint-xl) {
  .cs-popup {
    .fr-modal {
      max-width: 1320px;
    }
  }
}

@media (min-width: $grid-breakpoint-xxl) {
  .cs-popup {
    .fr-modal {
      max-width: 1800px;
    }
  }
}

.cs-tab {

  // disable padding in tab nav items
  .fr-tab-scroller-scroll-content {
    padding: 0 !important;
  }

  // left align tab nav item's text
  .fr-tab {
    justify-content: flex-start;
  }

  // disable padding in tab content
  .fr-tab-panel-content {
    padding: 0;
  }
}