.cadMeta {
  th, td {
    vertical-align: top;
  }

  th {
    min-width: 146px;
    text-align: left;
  }

  margin-bottom: 28px;
}

.cadTab {
  :global(.fr-tab) {
    justify-content: flex-start;
  }
  
  :global(.fr-tab-panel-content) {
    padding: 32px 24px;
    background-color: #F2F3F5;
  }

  :global(.fr-tab-scroller-scroll-content) {
    padding-left: 0;
    padding-right: 0;
  }
}